* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 60px; */
    overflow: hidden;
}

.hero {
    height: 100vh;
    /* background: #ABC1C4; */
    /* background: #ebe6e3;  bueno */
    background: #dbdad9;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color:#1b1919;
    padding: 0 16px;
}

.content {
    height: 90vh;
    display: flex;
    position: relative; /*asignado SEGUN para que realese le respondiera a el*/
}

.content-left {
    flex-basis: 50%;
    height: 100%;
    /* position: relative;  manipulaba a realeses */
}

.content-left h1{
    color:#1b1919;
    /* padding-top: 24px; */
    margin: 0px 40px;
    font-size: 76px; /*56 se veia bien*/
}

.content-left small{
    color: #4b4b4d;
    font-size: 30px;
    margin: 0px 40px;
}

.content-left p{
    line-height: 24px;
    margin: 16px 8px;
    padding: 16px 32px;
    text-align: justify;
    color:#333131;
}

.options{
    display: flex;
}

.seemore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height:45px;
    border: 1px solid #2a3933;
    border-radius: 2px;
    margin: 16px 0px;
    text-decoration: none;
    color: #000;
}

.btn{
    display: flex;
    width: 120px;
    height:45px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: #2a3933 ;
    margin: 16px;
    margin-left: 40px;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.releases{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin: auto;
    width: 90%;
    /* background: rgba(0, 0, 0, 0.5); */
    height: 35%;
    overflow: visible;
}

.titulo-realeses{
    position: absolute;
    right: 0;
    top: -32px;
    /* z-index: -2; */
}

.titulo-realeses h1{
    font-size: 40px;
    color: #4b4b4d;
}

.img-realeases{
    /* position: absolute;
    top:-75px;
    margin-left: 16px; */
    margin: 16px 8px;
    width: 155px;
    height: 155px;
}

.img-realeases img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.content-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 100%;
}

.content-right img {
    height: 85%;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 5px; */
}

.controls{
    margin: 16px 0;
}

.controls i {
    font-size: 32px;
    cursor: pointer;
    color:#1b1919;
}

/*  responsive  */
/*1003*/
@media (max-width: 630px) {
    .content{
        flex-direction: column;
    }

    /* .content-left{
        flex-basis: 100%;
    } */

    /* .content-right{
        display: none;
    } */
}

 /* Aqui cambiar a valores respecto a un iphone 
@media (max-width: 916px) {
    .content-left h1{
        font-size: 48px;
    }
}  */